.content-panel__header {
  text-align: center;
  padding: 0.4em;
  font-size: 2rem;
  flex: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-panel__exemple {
  flex: 80%;
  position: relative;
}
