.social-button-contaner {
  background-image: linear-gradient(45deg, #ee0979, #ff6a00);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  height: 100%;
  .social-buttons {
    padding-left: 0;
    display: flex;
    font-size: 2.5rem;
    color: #fff;
    list-style: none;
    justify-content: space-between;
    li {
      margin: 10px;
      a {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #f1f1f1;
        color: #ff2626;
        width: 70px;
        height: 70px;
        border-radius: 30%;
        box-shadow: -5px 5px 20px -5px #010101;
        position: relative;
        i {
        }
        &::before {
          content: "";
          position: absolute;
          background-color: #ff2626;
          width: 120%;
          height: 120%;
          left: -110%;
          top: 90%;
          transform: rotate(45deg);
        }
        &:hover {
          &::before {
            animation-name: hoverEffect;
            animation-duration: 2s;
            left: -10%;
            top: -10%;
          }
          i {
            transform: scale(1.3);
            color: #f1f1f1;
          }
        }
      }
    }
  }
}
@keyframes hoverEffect {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
